# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
venv/
ENV/

# Audio files
*.mp3
*.wav
response.mp3
response_adjusted.mp3
response.wav
response_adjusted.wav

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 